.profile {
  box-shadow: 5px 10px pink;
  padding: 50px;
  margin: 100px 500px;
}

.image {
  display: flex;
  justify-content: center;
}

.img-circle {
  width: 300px;
  height: 300px;
  border-radius: 1000px;
  box-shadow: 5px 10px pink;
}
