body {
  background-color: rgb(188, 242, 255);
}

.main-divs {
  border: ridge rgb(255, 192, 203);
  padding: 50px;
  margin: 100px 500px;
}

.image {
  display: flex;
  justify-content: center;
}

.img-circle {
  width: 300px;
  height: 300px;
  border-radius: 1000px;
  box-shadow: 5px 5px rgb(255, 192, 203);
}

.name {
  display: flex;
  justify-content: center;
  font-family: 'Oooh Baby', cursive;
}

.titles {
  display: flex;
  justify-content: space-around;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

a {
  color:rgb(255, 192, 203);
  text-decoration: none;

}

a:hover {
  color:rgb(250, 150, 167);
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
  color: black;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: rgb(250, 150, 167);
}
.footer .fa-heart {
  color: rgb(250, 150, 167);;
}
