body {
  background-color: rgb(188, 242, 255);
}

.profile {
  border: double rgb(255, 192, 203);
  padding: 50px;
  margin: 100px 500px;
}

.image {
  display: flex;
  justify-content: center;
}

.img-circle {
  width: 300px;
  height: 300px;
  border-radius: 1000px;
  box-shadow: 5px 5px rgb(255, 192, 203);
}

.name {
  display: flex;
  justify-content: center;
}

.titles {
  display: flex;
  justify-content: space-around;
}
